.name{
  color: coral;
  text-decoration: none;
  text-align-last: center;
  display: block;
  font-size: 45px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  opacity: 0.8;
}

body{
  background: url("단체사진3.jpg") top fixed;
  background-size: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.8;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: gray;
}

.active {
  background-color: coral;
}
